html {
   background-image:url("../imagenes/shattered-island.gif");
   margin: 0 auto;
   padding: 0px;
 }
 body {
   width: 100%;
   margin: 0 auto;
   background-color: transparent;
   color:color: #FFFFCC;  
 }
 .cuerpo-principal {
   background-image:url("../imagenes/chalkboard.jpg");
   color: #FFFFCC;
   width: 960px;
   margin: 30px auto 0px auto;
   overflow: hidden;
 }
 .cuento{
   color:#FFFFCC;
   overflow:scroll;
   background-image:url("../imagenes/chalkboard.jpg");
   height: 380px;
   width: 960px;
   margin-left:200px;
   margin-top:0px;
}
.imagenCuento{
  height:300px; 
  width:250px;
  margin-left:550px;
  
}
h1{
  color:#FFFFCC;
  text-align:center;
}
li{
   border: 15px solid transparent;
   background-image:url("../imagenes/chalkboard.jpg");
   display: inline;
   font-size:20px;
   color:#FFFFCC;
   margin-left:50px;
   margin-right:20px;
   width:20px;
   height:20px;
}
a{
  text-decoration:none;
  color:#FFFFCC;
}
.imagenPoe{
  height:400px; 
  width:450px;
  margin-left:250px;
  
}
.pie{
   background-color:black;
}

 